body, html {
    font-family: sans-serif;
    font-size: 18px;

}
header{
	
}
.navbar{
	position: fixed;
	width: 100%;
	z-index: 99 !important;
}
.navbar-brand{
	color: #fff !important;
	font-size: 25px;
	margin-left: 29px;

  }
a {
   
    font-size: 16px ;
    margin-right: 4px;
}

  .heading{
  	font-weight: bold;
  	text-align: center;
  }
  
  img{
    border: 2px solid black;
    width: 100%
  }
  .smoothie-img{
  	width: 80%;
  }
  .choco-img{
  	width: 100%;
  	
  }
  .top-content{

  	padding-top:20px;
  }
  
  

  .row>a{
  	color: #B22222 !important;
  }
  
  .h3{
  	font-weight: 300px !important;
    font-weight: bold !important;

  }
  footer{
  	margin-top: 30px;
  	font-weight: 500 !important;
  	font-size: 40px;
  	text-align: center;
  	padding: 0px 20px 0px 20px !important;
  }